trigger:
- main

variables:
  azureServiceConnection: 'AzureServiceConnection'
  webAppName: '<your-unique-app-name>'
  vmImageName: 'ubuntu-latest'
  pythonVersion: '3.9'

stages:

# -------------------------
# Stage 1: Build & Test
# -------------------------
- stage: Build
  displayName: Build and Test
  jobs:
  - job: Build
    pool:
      vmImage: $(vmImageName)

    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(pythonVersion)'
      displayName: 'Use Python $(pythonVersion)'

    - script: |
        python -m pip install --upgrade pip
        make install
      displayName: 'Install dependencies'

    - script: make lint
      displayName: 'Lint code'

    - script: make test
      displayName: 'Run tests'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '.'
        ArtifactName: 'drop'
        publishLocation: 'Container'

# -------------------------
# Stage 2: Deploy
# -------------------------
- stage: Deploy
  displayName: Deploy to Azure
  dependsOn: Build
  condition: succeeded()

  jobs:
  - deployment: DeployWebApp
    environment: 'production'
    pool:
      vmImage: $(vmImageName)

    strategy:
      runOnce:
        deploy:
          steps:

          - task: DownloadBuildArtifacts@0
            inputs:
              artifactName: 'drop'
              downloadPath: '$(System.ArtifactsDirectory)'

          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureServiceConnection)
              appType: 'webAppLinux'
              appName: $(webAppName)
              package: '$(System.ArtifactsDirectory)/drop'